<div class="bg-primary text-center py-2">
  <h4>{{ section.settings.message }}</h4>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "message",
        "label": "Announcement text",
        "default": "25% OFF on all Products"
      }
    ]
  }
{% endschema %}