<div>
  <h1>{{section.settings.message}}</h1>
</div>

{% schema %}
  {
    "name": "Announcement Bar",
    "settings": [
      {
        "type": "text",
        "id": "message",
        "label": "Announcement text",
        "default": "25% OFF on all Products"
      }
    ]
  }
{% endschema %}